
@{
    ViewBag.Title = "New";
}

<h2>New Rental Form</h2>

@*O HTML FOI CRIADO MAIS FACILMENTE COM AJUDA DO WEB ESSENCIALS 2017 VIDE LINHA ABAIXO
div.form-group>label+input[type='text].form-control
button.btn.btn-primary     APERTAR "TAB" NO FINAL*@

<form>
    <div class="form-group">
        <label>Customer</label>
        <input type="text" value="" class="form-control" />
    </div>

    <div class="form-group">
        <label>Movie</label>
        <input type="text" value="" class="form-control" />
    </div>

    <button class="btn btn-primary">Submit</button>

</form>