@model IEnumerable<LocaFilme.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<a class="btn btn-primary" href="/Movies/New">NEW MOVIE</a>
<br />

<table class="table table-bordered table-hover">

    <thead>
        <tr>
            <th><h3>Movie</h3></th>
            <th><h3>Genre</h3></th>
        </tr>
    </thead>


    <tbody>
        @foreach (var movie in @Model)
        {
            <tr>
                <td>@Html.ActionLink(movie.Name, "Update", "Movies", new { id = movie.Id }, null)</td>
                <td>@movie.Genre.GenreName</td>
            </tr>
        }
    </tbody>

</table>