  <appSettings>
    <add key="FacebookAppId" value="1744822115824168"/>
    <add key="FacebookAppSecret" value="eee78b5e569d38e3e0fc664f4c9f08ed"/>

    <add key="GoogleClientId" value="643307809926-a5cguat0ogofq8vod29ppj1oi5594o13.apps.googleusercontent.com"/>
    <add key="GoogleClientSecret" value="4N56Bq52uMQu7daI9ajGgWNw"/>
    
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!--Apenas para exemplificar como modificar CONFs em environments diferentes com o TESTING-->
    <add key="MailServer" value="dev-smtp.locafilme.com"/>
    
  </appSettings>